.title-top-center {
    position: fixed;
    top: 70px;
    right: 10px;
    margin: 0 0 20px 0 !important;
    color: #eee !important;
    font-weight: normal !important;
    line-height: 1.2 !important;
    letter-spacing: -0.03em !important;
    font-family: "Montserrat", Impact, sans-serif !important;
}

.reveal p span.slide-title {
    padding: 4px 15px;
    border-radius: 15px;
    color: white !important;
    font-weight: normal !important;
    line-height: 1.2 !important;
    letter-spacing: -0.03em !important;
    font-family: "Montserrat", Impact, sans-serif !important;
  }

  .reveal pre {
    width: 100%;
    box-shadow : none;
  }

  .left_text {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 40%;
  }

  .right_text {
    text-align: right;
  }
